body{
    main{
        .detail-product{
            padding: 0px;
            margin: 0px auto;
            // border: 1px solid red;
            border-radius: 1em;
            .gambar-product{
                margin: auto;
                img{
                    padding: 0px;
                    height: 100px;
                    width: auto;
                    // background-color:aqua;
                    border: solid 2px #ceae87ff;
                    border-radius: 1em;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .row-img{
                    // padding: 0px;
                    img{
                        width: 6.3em;
                        height: 6.3em;
                        @media only screen and (max-width: 600px){
                            width: 4.5em;
                            height: 4.5em;
                        }
                    }
                }
            }
            .desc-product{
                font-family: 'Poppins';
                // background-color: aqua;\
                .detail-title{
                    font-weight: 500;
                }
                .detail-price{
                    font-weight: 400;
                    font-size: 2em;
                }
                .detail-sub-title{
                    font-weight: bold;
                    color: #ceae87ff;
                    // text-decoration: underline;
                    .line{
                        display: inline-block;
                        width: 4em;
                        height: 4px;
                        background-color: grey;
                        border-radius: 2px;
                    }
                }

            }
            .pesan-product{
                margin: 0px auto;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: center;
                .jumlah{
                    // margin: auto;
                    @media only screen and (max-width: 600px){
                        display: flex;
                        flex-direction: column;
                    }
                    background-color: #E5E5E5;
                    border-radius: .5em;
                    border: solid 2px #ceae87ff;
                    margin-bottom: 1em;
                    .jumlah-title{
                        // background-color: grey;
                        color: grey;
                    }
                    .form-control{
                        padding: 5px;
                        border-radius: .5em;
                        border: solid 2px #ceae87ff;

                    }
                }
                .btn-buy{
                    padding: .5em 6em;
                    background-color:  #ceae87ff;
                    color: white;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
}
