// @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body{
    main{
        .carousel-desktop{
            width: 100%;
        }
        .product-home{
            h2{
                font-family: 'Cinzel', serif;
                font-size: 3em;
            }
        }
    }
}