body main .detail-product {
  padding: 0px;
}
body main .detail-product .gambar-product {
  margin: auto;
}
body main .detail-product .gambar-product img {
  padding: 0px;
  border: solid 2px #ceae87;
  border-radius: 1em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main .detail-product .gambar-product .row-img img {
  width: 6.3em;
  height: 6.3em;
}
@media only screen and (max-width: 600px) {
  body main .detail-product .gambar-product .row-img img {
    width: 4.5em;
    height: 4.5em;
  }
}
body main .detail-product .desc-product {
  font-family: "Poppins";
}
body main .detail-product .desc-product .detail-title {
  font-weight: 500;
}
body main .detail-product .desc-product .detail-price {
  font-weight: 400;
  font-size: 2em;
}
body main .detail-product .desc-product .detail-sub-title {
  font-weight: bold;
  color: #ceae87;
}
body main .detail-product .desc-product .detail-sub-title .line {
  display: inline-block;
  width: 4em;
  height: 4px;
  background-color: grey;
  border-radius: 2px;
}
body main .detail-product .pesan-product {
  margin: auto;
}
body main .detail-product .pesan-product .jumlah {
  background-color: #E5E5E5;
  border-radius: 0.5em;
  border: solid 2px #ceae87;
  margin-bottom: 1em;
}
@media only screen and (max-width: 600px) {
  body main .detail-product .pesan-product .jumlah {
    display: flex;
    flex-direction: column;
  }
}
body main .detail-product .pesan-product .jumlah .jumlah-title {
  color: grey;
}
body main .detail-product .pesan-product .jumlah .form-control {
  padding: 5px;
  border-radius: 0.5em;
  border: solid 2px #ceae87;
}
body main .detail-product .pesan-product .btn-buy {
  padding: 0.5em 6em;
  background-color: #ceae87;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}