body header .navbar-expand-lg .container-fluid a {
  gap: 0.5em;
  color: #2f333f;
}
body header .navbar-expand-lg .container-fluid a span {
  font-family: "Cinzel", serif;
  text-decoration: none;
  color: #ceae87;
  font-weight: bold;
}
body header .navbar-expand-lg .container-fluid .nav-desktop-middle a {
  font-weight: lighter;
}
body header .navbar-mobile {
  font-family: "Poppins";
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}
body header .navbar-mobile h5 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: #ceae87;
}
body main .about h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
body main .title-category {
  margin: 3em 0em;
  display: flex;
  flex-direction: column;
}
body main .title-category h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
body main .title-category p {
  text-align: center;
}
body main .product span {
  font-family: "Cinzel", serif;
  font-weight: bold;
}
body main .product .card-product {
  padding: 0px 0px 8px;
  font-family: "Poppins";
  border-color: transparent;
  background-color: transparent;
  border-radius: 0.5em;
  box-shadow: 0px 1px 1px rgba(166, 168, 170, 0.315), -9px -9px 16px rgba(231, 223, 223, 0.781);
  color: rgb(116, 118, 121);
  border: 1px solid #ceae87;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  body main .product .card-product {
    border-radius: 0.3em;
    padding: 0px 0px 8px;
  }
}
body main .product .card-product .card-body {
  margin: 0px;
  padding: 5px;
}
body main .product .card-product .card-body .card-tittle {
  margin: 0px;
}
body main .product .card-product .card-body .card-price {
  margin: 0px 0px 8px;
}
body main .product .card-product img {
  padding: 0.7em;
  border-radius: 0.5em;
  height: 20rem;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  body main .product .card-product img {
    height: 10rem;
    border-radius: 15px;
  }
}
body main .product .card-product .btn-product {
  padding: 0.5em 2em;
  background-color: #ceae87;
  color: white;
}
body main .product .navigation {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
body main .product .navigation a {
  color: rgb(201, 191, 160);
  padding: 0.5em 3em;
  border: 1px solid rgb(201, 191, 160);
}
body main .category .button-group {
  overflow: auto;
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;
}
body main .category .button-group .figure {
  margin: 0.1em;
  margin-top: 1em;
}
@media only screen and (max-width: 600px) {
  body main .category .button-group .figure {
    margin-top: 0.2em;
  }
}
body main .category .button-group .figure a {
  text-decoration: none;
  font-weight: lighter;
  color: #8D8DAA;
  border-radius: 2px;
}
body main .category .button-group .figure a:hover {
  font-weight: regular;
  background-color: #ceae87;
  color: #fff;
  border-radius: em;
}
body main .category .button-group .figure a .img-fluid {
  margin: 0px;
  padding: 0.2em 0.5em;
}
body main .carousel .carousel-desktop .carousel-indicators .carousel-indicators-item {
  color: red;
}
body main .carousel .btn-control .carousel-control-prev .carousel-control-prev-icon {
  color: #750101;
}